.collapse {
    padding: 10px 20px 5px 20px;
    background-color: white;
    width: 1200px;
    margin: 0 auto !important;
    z-index: 15;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
}

.absoluteCollapse {
    @extend .collapse;
    position: absolute !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ddd;
}

.relativeCollapse {
    @extend .collapse;
    position: relative !important;
    margin-bottom: 15px !important;
}