.collapse {
    background-color: white;
    margin: 0 auto !important;
    width: 1200px;
    z-index: 15;
    left: 0;
    right: 0;
    transition: none !important;
    -webkit-transition: none !important;
}

.container {
    padding: 10px 20px 5px 20px;
}
