.form {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px 50px;
    text-align: center;
    font-size: 14px;
    color: #454545;

    > div:not(:first-child), button, .redirect {
        margin-top: 15px;
    }

    header {
        font-size: 22px;
        font-weight: bold;
    }

    input, select {
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }
}

.error {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 12px;
    color: red;
    text-align: left;
}

.registerError {
    margin-bottom: 0;
    color: red;
}