.logo {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 70px;
    height: 70px;
    margin: 10px 0px;
}

.logosRow {
    margin-top: 0.5em;
    display: table;
    width: 100%;
}

.logoLabel {
    display: table-cell;
    border: 1px solid #ddd;
    text-align: center;
}

.logoLabel:hover {
    cursor: pointer;
}
