.input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: 1px solid #ced4da !important;
}

.bar {
    width: 350px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
}
