.container {
    background-color: white;
    padding: 20px 30px;
    font-size: 14px;
    overflow: auto;

    input, select {
        font-size: 14px !important;
    }
}

.loader {
    background-color: white;
}

.emptyCart {
    text-align: center;
    padding: 20px 0;
    background-color: white;

    h4 {
        margin-bottom: 10px;
    }
}
