.reply {
    margin-bottom: 0 !important; 
}

.blockLeft {
    text-align: center;
}

.blockLeft, .blockRight {
    padding-top: 5px;
}

.commentAuthor {
    font-size: 16px;
    font-weight: bold;
}

.question {
    font-size: 16px;
    font-weight: bold;
}

.listGroup {
    width: 100%;
}