.table {
    border-collapse: separate;
    border-spacing: 10px;

    input,
    select {
        font-size: 14px;
    }

    input[readonly] {
        background-color: white !important;
    }
}

.labelCol {
    min-width: 110px;
    font-weight: 600;
}

.inputCol {
    width: 100%;
}

.header {
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        margin-right: 10px !important;
    }
}
