.category {
    margin-bottom: 30px;
}

.categoryHeader {
    font-size: 18px;
    margin-bottom: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}