.button {
    margin-right: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #3b5998 !important;
}

.icon {
    margin-right: 3px;
    margin-bottom: 2px;
    font-size: 16px;
}
