.row {
    padding: 10px 40px 10px 25px;
    display: flex;
}

.row:not(:first-of-type) {
    border-top: 1px solid #ddd;
}

.blockLeft {
    flex: 1;
    img {
        padding: 5px;
    }
}

.blockCenter {
    flex: 4;
    margin-top: 20px;
}

.blockRight {
    flex: 1;
    margin-top: 20px;
    div {
        float: right;
        width: fit-content;
    }
}

.name {
    font-size: 15px;
    margin-bottom: 2px !important;
    color: #0000ff;
    font-weight: 500;
    cursor: pointer;
}

.priceLabel {
    margin-top: 3px;
    font-weight: bold;
    font-size: 15px;
    color: #bf081f;
}

.pricePromotion {
    text-decoration: line-through;
    color: grey;
    margin-left: 10px;
    font-size: 13px;
}

.quantity {
    text-align-last: center;
    max-width: 50px;
}

.updateQuantity {
    background-color: whitesmoke !important;
    max-width: 30px !important;
}

.trashIcon {
    margin-left: 5px;
    margin-bottom: 5px;
}

.pricePromotion {
    text-decoration: line-through;
    color: grey;
    margin-left: 10px;
    font-size: 13px;
}

.itemRating {
    color: darkorange;
}

.itemInfo {
    color: #007bff;
    margin-bottom: -2px;
    color: #666;
    font-weight: 550;
}
