.container {
    min-width: 1200px !important;
    max-width: 1200px !important;
    padding: 0 !important;
    min-height: calc(100vh - 242px);
    margin: 20px auto 50px auto !important;
}

.uploadPictureContainer {
    width: 20% !important;
    margin: 2% !important;
}