.cell {
    flex: 1;
    text-align: left;
    padding: 10px 20px 15px 20px;
    cursor: pointer;
}

.cell:hover {
    img {
        transform: translateY(-15px);
    }
    * {
        cursor: pointer;
    }
    .name {
        color: #007bff;
    }
    text-decoration: none;
    box-shadow: 0 0 5px 5px #ccc;
}

.cell:not(:first-of-type) {
    border-left: 1px solid #efefef;
}

.cell:not(:last-of-type) {
    border-right: none;
}

.name {
    font-size: 14px;
    color: #333;
}

.img {
    padding: 5px;
    text-align: center;
}

.unitPrice {
    font-size: 14px;
    color: #bf081f;
    font-weight: 600;
}

.originPrice {
    color: gray;
    text-decoration: line-through;
}

.suggest {
    font-size: 14px;
    z-index: 2;
}

.icon {
    margin-bottom: 3px;
}

.itemRating {
    color: darkorange;
}

.itemInfo {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: -2px;
}

.redirect {
    margin: 0 -20px;
    > * {
        margin-left: 20px;
        margin-right: 20px;
    }
}
